openapi: 3.2.0
info:
  title: Getvda Ai MCP API
  version: 0.1.0
  x-refined-note:
  - x-git-sha differs across the merged source definitions and was not carried
  description: 'Operations tagged Mcp across 2 of this provider''s published API definitions: getvda-ai-gosce-router-openapi.json, getvda-ai-hitl-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://hitl.getvda.ai
tags:
- name: MCP
paths:
  /mcp:
    post:
      summary: Mcp
      operationId: mcp_mcp_post
      parameters:
      - name: credits
        in: query
        required: false
        schema:
          type: integer
          default: 1
          title: Credits
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - MCP
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  responses:
    Unauthorized:
      description: missing/invalid Witness Bearer (Contract A)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Contract A: a Witness Bearer (wtn.<keyId>.<secret>) validated by HITL via Witness GET /whoami. Authorization header only. This authenticates the CALLING account; the human decider on a resolution is asserted separately and never authenticated by HITL.'
x-refined-from:
- getvda-ai-gosce-router-openapi.json
- getvda-ai-hitl-openapi.json
