{"openapi":"3.1.0","info":{"title":"VDA ACP","version":"0.1.0","description":"Agent Control Plane — governance-aware wrapper on git."},"servers":[{"url":"https://acp.getvda.ai"}],"components":{"securitySchemes":{"witness_bearer":{"type":"http","scheme":"bearer","bearerFormat":"wtn.<keyId>.<secret>"}},"schemas":{"BundleManifest":{"type":"object","required":["schema","version","environment","commitSha","contentHash","did","keyId","files"],"additionalProperties":false,"properties":{"schema":{"type":"string","enum":["acp.bundle/1"]},"version":{"type":"string","description":"Monotonic per-environment version, assigned by the pipeline (not a timestamp)."},"environment":{"type":"string"},"commitSha":{"type":"string","description":"The git commit this bundle was built from — the tie to authoring provenance."},"contentHash":{"type":"string","pattern":"^sha256:[0-9a-f]{64}$","description":"Binds the file set to the manifest."},"did":{"type":"string","description":"ACP's DID; resolve it for the bundle-signing key."},"keyId":{"type":"string","description":"The verification method that signs bundles, e.g. did:web:acp.getvda.ai#key-3."},"files":{"type":"array","items":{"type":"string"},"description":"Governance file names included, sorted."}}},"BundleSignature":{"type":"object","required":["algorithm","value","keyId"],"additionalProperties":false,"properties":{"algorithm":{"type":"string","enum":["Ed25519"]},"value":{"type":"string","description":"base64url signature over the canonical manifest bytes."},"keyId":{"type":"string","description":"Must equal manifest.keyId."}}},"SignedBundle":{"type":"object","required":["manifest","files","signature"],"additionalProperties":false,"description":"Deterministic by design: the same commit + version always produces the same bytes and the same signature. Verify by canonicalising `manifest`, checking `signature.value` against the key `manifest.keyId` resolves to, then confirming sha256 of the canonical `files` equals `manifest.contentHash`. Fail-static: a bundle that does not verify is not used.","properties":{"manifest":{"$ref":"#/components/schemas/BundleManifest"},"files":{"type":"object","description":"Governance file name → raw VDA-MD source. Capability/condition/authority/scope are parsed from these bodies.","additionalProperties":{"type":"string"}},"signature":{"$ref":"#/components/schemas/BundleSignature"}}}}},"paths":{"/healthz":{"get":{"summary":"Liveness","responses":{"200":{"description":"ok"}}}},"/readyz":{"get":{"summary":"Readiness + capability status","responses":{"200":{"description":"ready"}}}},"/.well-known/agent-card.json":{"get":{"summary":"A2A agent card","responses":{"200":{"description":"card"}}}},"/.well-known/did.json":{"get":{"summary":"DID document","responses":{"200":{"description":"did"},"404":{"description":"not provisioned"}}}},"/v1/environments/{env}/governance":{"get":{"summary":"Load a governance set at a ref","security":[{"witness_bearer":[]}],"parameters":[{"name":"env","in":"path","required":true},{"name":"ref","in":"query"}],"responses":{"200":{"description":"governance set"},"503":{"description":"git staged"}}}},"/v1/environments/{env}/changes/prepare":{"post":{"summary":"Prepare + evaluate a governance change (diff + Compliance Guard)","security":[{"witness_bearer":[]}],"responses":{"200":{"description":"prepared"}}}},"/v1/environments/{env}/changes/test":{"post":{"summary":"Run the governance CI test suite on a change","security":[{"witness_bearer":[]}],"responses":{"200":{"description":"suite result"}}}},"/v1/environments/{env}/pulls/{num}/surface":{"get":{"summary":"Non-engineer approval surface","security":[{"witness_bearer":[]}],"responses":{"200":{"description":"surface"}}}},"/v1/environments/{env}/pulls/{num}/decision":{"post":{"summary":"Approve or reject a change (seals hitl_decision, merges on approve)","security":[{"witness_bearer":[]}],"description":"Requires an approver OIDC token in X-Approver-Credential.","responses":{"200":{"description":"outcome"},"401":{"description":"identity"},"403":{"description":"authority"},"409":{"description":"separation of duties"}}}},"/v1/environments/{env}/versions/activate":{"post":{"summary":"Build + sign + activate a governance version (sealed to Witness)","security":[{"witness_bearer":[]}],"responses":{"200":{"description":"activated"},"503":{"description":"bundle/witness staged"}}}},"/bundles/{env}/active.json":{"get":{"summary":"The active signed governance bundle (public; evaluator SDK)","responses":{"200":{"description":"The active SignedBundle","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignedBundle"}}}},"404":{"description":"no active bundle for this environment"}}}},"/bundles/{env}/versions/{version}":{"get":{"summary":"A specific signed bundle version (public)","responses":{"200":{"description":"The requested SignedBundle version","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignedBundle"}}}},"404":{"description":"no such version"}}}}}}